@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --clr: #0a0101;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  #e3c099
   
}
.navigation
{
    position: absolute;
    width: 100%;
    height: 70px;
    top: 7%;
    left: 0;
    padding: 10px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
    
}
/* The border for navigation bar */
.navigation ul
{
    display: flex;
    width: 3500px;

}
/*Gap for the navigation bar*/
.navigation ul li
{
    position: sticky;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;


}
/**/
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;

}
/*Icon size*/
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr)
}
.navigation ul li.active a .icon
{
    transform: translateY(-32px);
}
.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px)
}
.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #fbc093;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;

}
/* ROUND CORNER*/
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(e3c099);

}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(e3c099);

}
.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.Backgroundcontainer
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles
{
    position: relative;
    display: flex;

}
.bubbles img
{
    position: relative;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/var(--i));
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh);
    }
}
.Title
{
    position: absolute;
    font-size: 350%;
    font-weight: 600;
    color: #2929cc;
    z-index: 1;
    animation: fadeIn 3.5s;
}
@keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.Introduction
{
    position: absolute;
    top: 55%;
    left: 10%;
    color:#ffffff;
    z-index: 1;
    animation: fadeIn 4.5s;
    text-align: center;
}
/*After Inking text animation*/
.mas_1 {
    position: absolute;
    color: #2929cc;
    text-align: center;
    width: 101%;
    font-weight: 300;
    position: absolute;
    font-size: 25px;
    margin-top: 5px;
    overflow: hidden;
    font-weight: bold;
  }
  
  @-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @-webkit-keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }
  @keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }

  /*Border Sign 1*/
  .button-container-1 {
    position: absolute;
    width: 150px;
    height: 50px;
    margin-left: -30vh;
    margin-right: auto;
    margin-top: 30vh;
    overflow: hidden;
    border: 1px solid #2929cc;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;

  }
/*Effect Css 1*/
  .button-container-1 button {
    width: 101%;
    height: 100%;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    background: #2929cc;
    -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
    mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
    -webkit-mask-size: 7100% 100%;
    mask-size: 7100% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;
  }
  .button-container-1 button:hover {
    -webkit-animation: ani 0.7s steps(70) forwards;
    animation: ani 0.7s steps(70) forwards;
  }

/*After Inking text animation-2*/
.mas_2 {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 101%;
  font-weight: 300;
  position: absolute;
  font-size: 25px;
  margin-top: 5px;
  overflow: hidden;
  font-weight: bold;

}
 /*Border Sign 2*/
 .button-container-2 {
  position: absolute;
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-right: -15%;
  margin-top: 30vh;
  overflow: hidden;
  border: 1px solid #2929cc;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  background-color: #2929cc;

}
/*Effect Css 2*/
.button-container-2 button {
  width: 101%;
  height: 100%;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #e3c099;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: none;
  color: #2929cc;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(70) forwards;
  animation: ani2 0.7s steps(70) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(70) forwards;
  animation: ani 0.7s steps(70) forwards;
}



